*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


::selection{
    color: aliceblue;
    background-color: black;
}


/* CSS Variables  */
:root {
    --black: black;
    --white: white;
}









/* footer         */

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Balsamiq Sans", sans-serif;
    font-family: "Balsamiq Sans", sans-serif;
    background-color: blueviolet;
    color: aliceblue;
}
footer .heading {
    padding: 10px 0;
}