/* navigation bar */

body header {
    height: 25vh;
}

header::before{
    height: 26vh;
}

body header .navbar .logo {
    width: 80px;
    height: 80px;
    margin: 60px;
}

body header .navbar ul {
    margin: 1rem 0 1rem 10rem;
    flex-direction: column;
    align-self: center;
}

body header .navbar ul li {
    padding: 3px 12px;
}

body header .navbar ul li a{
    font-size: 1.5rem;
}


/* home     */

main .home::before{
    height: 107%;
}

main .home{
    height: 55vh;
}

main .home .content h1{
    font-size: 2.1rem;
    padding: 3vh 0;
}

main .home .content p{
    padding: 1vh 0;
    width: 90%;
    font-size: 1.15rem;
}

main .home .content .btn{ 
    padding: 14px;
    border-radius: 50px;
    font-weight: 800;
}


/* about  */

main .about .content {
    width: 95%;
    
}

main .about .content h2{
    color: rgb(136, 61, 61);
    margin: 3vh 0;
    font-size: 3rem;
}

main .about .content p{
    width: 95%;
    font-size: 1.25em;
    border-radius: 30px;
}


/* products       */

main .products .up-heading {
    font-size: 2.3rem;
    margin: 5vh 0 ;
}
main .products .down-heading {
    font-size: 1.8rem;
    margin: 50px 0 ;
}

main .products .swiper-wrapper .box {
    width: 500px;
    height: 60vh;
}

main .products .swiper-wrapper .box .image{
    height: 45vh;
}

main .products .swiper-wrapper .box .content h3{
    font-size: 1.5rem;
}
main .products .swiper-wrapper .box .content p{
    font-size: 1.2rem;
}


/* contact     */
main .contact h2 {
    font-size: 2.5rem;
    padding: 3rem 0;
}

main .contact .contact-box form{
    padding: 3rem;
}

main .contact .contact-box form .form-items label {
    padding: 15px 0 7px;
    font-size: 1.1rem;
}
main .contact .contact-box form .form-items input {
    width: 300px;
}

main .contact .contact-box form .form-items input {
    font-size: 0.9rem;
    padding: 12px;
}
main .contact .contact-box form .form-items button {
    font-size: 1.4rem;
}




/* clients     */

main .clients::before{
    height: 115vh;
}

main .clients {
    width: 100%;
    height: auto;
    flex-direction: column;
}

main .clients h2{
    margin: 6vh 0;
    font-size: 2.8em;
}

main .clients .images {
    margin-bottom: 7rem;
    flex-flow: column wrap;
} 

main .clients .images .client-image {
    width: 10rem;
    height: 12rem;
}

/* footer       */

footer .heading {
    padding: 8px 0;
    font-size: 0.9rem;
    font-weight: lighter;
}