
/* navbar */

body header {
    width: 100%;
    height: 20vh;
}

body header nav {
    width: 100%;
}

header::before{
    height: 20vh;
}

body header .navbar {
    height: 15vh;
}
body header .navbar .logo {
    width: 0px;
    height: 0px;
}

body header .navbar ul {
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
}

body header .navbar ul li {
    padding: 0 11px 0 0;
}

body header .navbar ul li a{
    font-size: 1.2rem;
}



/* home  */


main .home::before{
   height: 125vh;
}

main .home{
    width: 100%;
    height: 72vh;
    display: flex;
    justify-content: center;
    font-family: "Balsamiq Sans", sans-serif;
}

main .home .content h1{
    font-size: 1.8rem;
    padding: 2vh 0;
}

main .home .content p{
    padding: 0.5vh 0;
    line-height: normal;
    font-size: 0.90rem;
}
main .home .content .btn{
    padding: 8px;
}


/* services */

main .services {
    width: 90%;
}

main .services h1 {
    font-size: 2.2rem;

}

main .services .boxes {
    width: 100%;  
    flex-direction: column;
}

main .services .boxes .content {
    width: 90%;
    padding: 4px;
}

main .services .boxes .content h2{
    font-size: 1.4rem;
    padding: 6px 0;
}
main .services .boxes .content p{
    font-size: 0.8rem;
    padding: 3px;
}

main .services .boxes .content .image {
    width: 100%;
    height: 70%;
    border-radius: 3px;
}


/* clients     */

main .clients::before{
    height: 100vh;
}

main .clients {
    width: 100%;
    height: auto;
    flex-direction: column;
}

main .clients h2{
    margin: 6vh 0;
    font-size: 2.3em;
}

main .clients .images {
    /* margin-bottom: 3rem; */
    flex-flow: column wrap;
} 

main .clients .images .client-image {
    width: 7.5rem;
    height: 9rem;
}




/* about  */

main .about .content {
    width: 95%;
    
}

main .about .content h2{
    color: rgb(136, 61, 61);
    margin: 3vh 0;
    font-size: 2rem;
}

main .about .content p{
    width: 95%;
    font-size: 0.9em;
    border-radius: 20px;
    padding: 12px;
}







/* products       */

main .products .up-heading {
    font-size: 2.1rem;
    margin: 3.5vh 0 ;
    text-align: center;
}
main .products .down-heading {
    font-size: 1.2rem;
    margin: 1.8rem 0 ;
    text-align: center;
    width: 90%;
}

main .products .swiper-wrapper .box {
    width: 80%;
    height: 55vh;
}

main .products .swiper-wrapper .box .content h3{
    font-size: 1.2rem;
}
main .products .swiper-wrapper .box .content p{
    font-size: 0.9rem;
}



/* contact     */
main .contact h2 {
    font-size: 2rem;
    padding: 3rem 0;
}

main .contact .contact-box form{
    padding: 2.2rem;
}

main .contact .contact-box form .form-items label {
    padding: 12px 0 5px;
    font-size: 1.1rem;
}
main .contact .contact-box form .form-items input {
    width: 14rem;
}

main .contact .contact-box form .form-items input {
    font-size: 0.9rem;
    padding: 8px;
}
main .contact .contact-box form .form-items button {
    font-size: 1.2rem;
}




